# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log
logs/
log/

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Mac
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Linux
*~
.nfs*

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# SQLite
*.db
*.db-shm
*.db-wal

# Outros
.env
.env.* 